.one{
  background-color: #B5EAEA;
  position: relative;
  padding-top: 100px;
  font-family: 'Dancing Script', cursive;
  color: #001E6C;
}
.two{
    background-color: #A4EBF3;
}
.snaks{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
body{
  margin: 0;
  background-color: #FCD8D4;
    background-color: #A4EBF3;
  color: #001E6C;

  text-align: center;
}
.color{

}
.intro{
    line-height: 2;
}

.myskill{
    color: #001E6C;
}
.mountain{

}
.rolls{
      color: #001E6C;
}
h1{
  margin-top: 0;
  font-size: 100px;



}
.web{
  text-decoration: underline;
  font-family: cursive;
  font-size: 30px;
}
.cld1{
  margin-left: 500px;
}
.cld2{
    position: absolute;
}
.my{
  color: #A4EBF3;
}
.contact me{
  action="mailto:bhosalerupesh67@gmail.com" method="post" enctype="text/plain"
}
.links{
  font-size: 17px;
  background-color: #28FFBF;
  padding: 50px 0 20px;
  color: red;

}
links : hover{
  color: red;
}
.skl{
    width: 25%;
    float: left;
  margin-right:30px;
}
.sk{

}
.snk{
  width: 25%;
  float: right;
  margin-left: 10px;

}
.design{
  background-color: #A4EBF3;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}
.pro{
  margin-top: 50px;
}
.contactme{
  width: 40%;
  margin: 40px auto 60px;
  line-height: 2;
}
.btn{
  margin-bottom: 100px;
}


/*Button Coding*/
.btn {
  background: #05a2eb;
  background-image: -webkit-linear-gradient(top, #05a2eb, #95c7c3);
  background-image: -moz-linear-gradient(top, #05a2eb, #95c7c3);
  background-image: -ms-linear-gradient(top, #05a2eb, #95c7c3);
  background-image: -o-linear-gradient(top, #05a2eb, #95c7c3);
  background-image: linear-gradient(to bottom, #05a2eb, #95c7c3);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  font-family: Arial;
  color: #e2ff05;
  font-size: 28px;
  background: #3498db;
  padding: 12px 25px 12px 25px;
  text-decoration: none;
}

.btn:hover {
  background: #0af5e9;
  background-image: -webkit-linear-gradient(top, #0af5e9, #05cdf0);
  background-image: -moz-linear-gradient(top, #0af5e9, #05cdf0);
  background-image: -ms-linear-gradient(top, #0af5e9, #05cdf0);
  background-image: -o-linear-gradient(top, #0af5e9, #05cdf0);
  background-image: linear-gradient(to bottom, #0af5e9, #05cdf0);
  text-decoration: none;
}
/*Button conding*/
.color{
  color: #035397;
  text-decoration: none;
  margin: 10px 10px;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
a:hover {
    color: #DF5E5E;
}
.copy{
  margin-top: 30px;
  font-size: 15px;
  color: #035397;
}